/* Universal Styles */

* {
    margin: 0;
    border: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #505050;
}

.left {
    float: left;
}

.right {
    float: right;
}

.image-container {
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.button {
    padding: 1rem 0;
    background-color: #505050;
    color: white;
    text-align: center;
    font-size: 1.25rem;
    width: 80%;
}

h1 {
    font-size: 3.125rem;
    font-weight: 800;
    margin: 2rem 0;
}

h2 {
    font-size: 2.625rem;
    font-weight: 800;
    margin: 2rem 0;
}

h3 {
    font-size: 1.75rem;
    margin: 1rem 0;
}

a {
    text-decoration: none;
    color: #505050;
}

#banner, #campus-info, #course-info, #thesis-exhibit {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
}

/* Header */

header {
    width: 100%;
    height: 4rem;
    font-size: 1.25rem;
    padding: 0 1.5rem;
    line-height: 4rem;
}

header li {
    display: inline-block;
    margin-left: 1rem;
}

header span {
    color: gray;
}

.desktop img {
    height: 55px;
    width: auto;
    vertical-align: middle;
}

header .mobile {
    display: none;
}

/* Banner */

#banner {
    background-color: lightgray;
}

#banner-image {
    width: 80%;
    grid-area: 1 / 1 / span 1 / span 1;
    margin: 2rem 1.5rem;
}

#banner .content {
    width: 80%;
    grid-area: 1 / 2 / span 1 / span 1;
}

#banner h3 {
    margin-bottom: 2.5rem;
}

#campus-info {

}

#course-info {

}

#thesis-exhibit {

}